absl-py==0.11.0
aiohttp==3.8.1
aiosignal==1.2.0
ale-py==0.7.2
antlr4-python3-runtime==4.8
appdirs==1.4.3
apt-clone==0.2.1
apturl==0.5.2
astunparse==1.6.2
async-timeout==4.0.1
atari-py==0.2.9
atomicwrites==1.1.5
attrs==19.3.0
backcall==0.1.0
bcrypt==3.1.7
beautifulsoup4==4.8.2
black==21.11b1
bleach==3.1.1
blinker==1.4
blosc==1.7.0
Brlapi==0.7.0
cachetools==4.0.0
caffe==1.0.0
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
charset-normalizer==2.0.8
click==8.0.3
cloudpickle==1.3.0
colorama==0.4.3
command-not-found==0.3
commonmark==0.9.1
configparser==5.0.2
cryptography==2.8
cupshelpers==1.0
cycler==0.10.0
Cython==0.29.14
dask==2.8.1+dfsg
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
defusedxml==0.6.0
distlib==0.3.0
distro==1.4.0
distro-info===0.23ubuntu1
docker-pycreds==0.4.0
duplicity==0.8.12.0
entrypoints==0.3
et-xmlfile==1.0.1
fasteners==0.14.1
filelock==3.0.12
flake8==3.7.9
flatbuffers==1.12
frozenlist==1.2.0
fsspec==2021.11.1
future==0.18.2
gast==0.4.0
gdown==4.2.0
gitdb==4.0.9
GitPython==3.1.24
google-auth==2.3.3
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.29.1
gym==0.21.0
h5py==2.10.0
html5lib==1.0.1
httplib2==0.14.0
Hydra==2.5
hydra-core==1.1.1
idna==2.8
ImageHash==4.2.1
imageio==2.4.1
importlib-metadata==1.5.0
importlib-resources==5.4.0
iniconfig==1.1.1
ipykernel==5.2.0
ipython==7.13.0
ipython_genutils==0.2.0
ipywidgets==6.0.0
isort==5.10.1
jax==0.2.28
jaxlib==0.1.76+cuda11.cudnn82
jdcal==1.0
jedi==0.15.2
Jinja2==2.10.1
joblib==0.14.0
jsonschema==3.2.0
jupyter-client==6.1.2
jupyter-console==6.0.0
jupyter-core==4.6.3
kaleido==0.2.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==18.0.1
kiwisolver==1.0.1
kornia==0.6.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lightning-bolts==0.4.0
linecache2==1.0.0
locket==0.2.0
lockfile==0.12.2
louis==3.12.0
lxml==4.5.0
macaroonbakery==1.3.1
Mako==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.0
matplotlib==3.1.2
mccabe==0.6.1
mistune==0.8.4
monotonic==1.5
more-itertools==4.2.0
mpi4py==3.0.3
multidict==5.2.0
mypy-extensions==0.4.3
nbconvert==5.6.1
nbformat==5.0.4
netifaces==0.10.4
networkx==2.4
nose==1.3.7
notebook==6.0.3
numexpr==2.7.1
numpy==1.22.2
nvidia-ml-py==7.352.0
oauthlib==3.1.0
olefile==0.46
omegaconf==2.1.1
opencv-python==4.5.4.58
openpyxl==3.0.3
opt-einsum==3.2.1
packaging==20.3
PAM==0.4.2
pandas==0.25.3
pandocfilters==1.4.2
parameterized==0.7.0
paramiko==2.6.0
parso==0.5.2
partd==1.0.0
pathspec==0.9.0
pathtools==0.1.2
pbr==5.4.5
pexpect==4.6.0
pickleshare==0.7.5
Pillow==7.0.0
platformdirs==2.4.0
plotly==5.4.0
pluggy==0.13.0
ply==3.11
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==2.0.10
protobuf==3.19.1
psutil==5.5.1
py==1.11.0
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pycodestyle==2.5.0
pycparser==2.19
pycuda==2019.1.2
pycups==1.9.73
pyDeprecate==0.3.1
pydot==1.4.1
pyflakes==2.1.1
Pygments==2.12.0
PyGObject==3.36.0
pygpu==0.7.6
PyICU==2.4.2
pyinotify==0.9.6
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==2.4.6
PyPrind==2.11.3
pyRFC3339==1.1
pyrsistent==0.15.5
PySocks==1.7.1
pytest==6.2.5
python-apt==2.0.0+ubuntu0.20.4.5
python-dateutil==2.7.3
python-debian===0.1.36ubuntu1
pytools==2019.1.1
pytorch-lightning==1.5.9
pytorch-lightning-bolts==0.3.2
pytz==2019.3
PyWavelets==0.5.1
pyxdg==0.26
PyYAML==6.0
pyzmq==18.1.1
recordclass==0.16.2
regex==2021.11.10
reportlab==3.5.34
requests==2.22.0
requests-oauthlib==1.0.0
requests-unixsocket==0.2.0
rich==12.3.0
-e git+https://github.com/astooke/rlpyt.git@b32d589d12d31ba3c8a9cfb7a3c85c6e350b2904#egg=rlpyt
rsa==4.0
scikit-cuda==0.5.3
scikit-image==0.16.2
scikit-learn==0.22.2.post1
scipy==1.3.3
screen-resolution-extra==0.0.0
seaborn==0.11.2
SecretStorage==2.3.1
Send2Trash==1.5.0
sentry-sdk==1.4.3
shortuuid==1.0.1
simple-parsing==0.0.17
simplejson==3.16.0
six==1.14.0
smmap==5.0.0
soupsieve==1.9.5
ssh-import-id==5.10
subprocess32==3.5.4
systemd-python==234
tables==3.6.1
-e git+https://github.com/amoudgl/distributed-dtp.git@1b0c8c0eae1ae35bca31920908bbb5dc2896b7d0#egg=target_prop
tenacity==8.0.1
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow-estimator==2.5.0
tensorflow-gpu==2.5.0
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.4
testresources==2.0.0
Theano==1.0.4
toml==0.10.2
tomli==1.2.2
toolz==0.9.0
torch==1.9.0
torchmetrics==0.6.0
torchvision==0.10.0
tornado==5.1.1
tqdm==4.64.0
traceback2==1.4.0
traitlets==4.3.3
typing-inspect==0.7.1
typing_extensions==4.2.0
ubuntu-advantage-tools==27.2
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
unittest2==1.1.0
urllib3==1.25.8
usb-creator==0.3.7
virtualenv==20.0.17
wadllib==1.3.3
wandb==0.12.6
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==0.16.1
widgetsnbextension==2.0.0
wrapt==1.11.2
xkit==0.0.0
xlrd==1.1.0
xlwt==1.3.0
yarl==1.7.2
yaspin==2.1.0
zipp==3.6.0
